<box>
  <div class="row wrapper">
    <div class="large-3 columns">
      <div class="cool">
        <sidebar>
          <logo>
            <a href="/"><img src="images/logo.png" alt="logo"></a>
          </logo>
          <intro>
            Custom Development in Atlanta, GA.
            <line></line>
          </intro>
          <nav>
            <a href="/#/">Portfolio</a>
            <a href="/#/about">About</a>
            <a href="/#/services">Services</a>
            <a href="/#/contact">Contact</a>
          </nav>
          <line></line>
          <contact><a href="/#/contact">Hire Us</a></contact>
          <line></line>
        </sidebar>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="animated fadeIn" ui-view></div>
      <footer>© 2016 • All Rights Reserved</footer>
    </div>
  </div>
</box>