<about>
  <ul class="small-block-grid-1 large-block-grid-2">
    <li>
      <div style="text-align:center" class="panel radius"><img src="images/web_dev.png" alt="">
        <h5>Web Development</h5>
        <p>Angular, React, Ember</p>
      </div>
    </li>
    <li>
      <div style="text-align:center" class="panel radius"><img src="images/app.png" alt="">
        <h5>Web Applications</h5>
        <p>Express, Rails, Laravel</p>
      </div>
    </li>
    <li>
      <div style="text-align:center" class="panel radius"><img src="images/wordpress.png" alt="">
        <h5>WordPress</h5>
        <p>Custom Themes & Plug-Ins</p>
      </div>
    </li>
    <li>
      <div style="text-align:center" class="panel radius"><img src="images/ecommerce.png" alt="">
        <h5>Ecommerce</h5>
        <p>Online Stores, Shopping Carts</p>
      </div>
    </li>
  </ul>
</about>